.post {
  background-color: $color-gray-light;
  ul {
    margin-bottom: 5rem;
    li {
      font-size: 1.8rem;
      line-height: 2;
    }
  }

  .video-container {
    margin-bottom: 4rem;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    width: 110%;
    margin-left: -5%;

    iframe {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
  }

  p {
    margin-bottom: 4rem;
  }

  .thought {
    &__title {
      margin-bottom: 1rem;
    }

    &__content {
      color: $color-gray-light-3;
      font-size: 2.2rem;

      @include respond(phone) {
        line-height: 1.8;
        font-size: 2rem;
      }

      &--final {
        color: $color-gray-dark;
      }
    }
  }

  blockquote {
    box-shadow: 1rem 1rem 0 $color-primary;
    background-color: #ffffff;
    width: 110%;
    margin-left: -5%;
    padding: 3rem 4rem;
    margin-bottom: 4rem;

    @include respond(phone) {
      padding: 2rem 3rem;
      width: 100%;
      margin: 0 auto 3rem;
    }
    cite {
      color: $color-gray-light-2;
      margin-bottom: 0;
      font-size: 1.7rem;
    }
    p {
      font-size: 1.8rem;
      margin-bottom: 2rem;
      @include respond(phone) {
        font-size: 1.7rem;
      }
    }
  }

  figure.wp-block-image {
    width: 100%;
    margin: 0 0 3rem;

    img {
      height: auto;
    }
  }

  .rating {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;

    @include respond(phone) {
      grid-template-columns: repeat(2, 1fr);
    }

    &__overall,
    &__category {
      box-shadow: 0.5rem 0.5rem 0 $color-primary;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 1.5rem;

      @include respond(phone) {
        padding: 1rem;
      }
    }

    &__score {
      font-size: 3rem;
      margin-bottom: 0;
    }

    &__name {
      color: $color-gray-light-2;
      margin-bottom: 0;
    }

    &__image {
      grid-column: 1 / 3;
      box-shadow: 0.5rem 0.5rem 0 $color-primary;

      @include respond(phone) {
        grid-column: span 1;
      }

      img {
        display: block;
      }
    }

    &__overall {
      grid-column: 3 / 5;

      @include respond(phone) {
        grid-column: span 1;
      }

      .rating__score {
        font-size: 3.5rem;
        font-weight: 700;

        @include respond(phone) {
          font-size: 3rem;
        }
      }
    }

    &__category {
      .rating__score {
        font-size: 2.5rem;
      }
    }
  }

  .about-the-author {
    display: flex;
    box-shadow: 1rem 1rem 0 $color-primary;

    &__image {
      flex-basis: 30%;

      @include respond(phone) {
        display: none;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__bio {
      flex-basis: 70%;
      background-color: #ffffff;
      padding: 3rem;

      @include respond(phone) {
        flex-basis: 100%;
      }

      p {
        margin-bottom: 0.5rem;
      }
    }

    &__link {
      border-bottom: none;
      font-size: 3rem;
      color: $color-gray-dark;

      svg {
        transition: 0.2s ease transform;
      }

      &:first-of-type {
        margin-right: 2rem;
      }

      &:hover svg {
        transform: scale(1.2);
        color: $color-primary-dark;
      }
    }
  }
}
