// Variables
:root {
  --color-white: 0 0% 100%;

  --color-base-100: 0 0% 98%;
  --color-base-200: 0 0% 55%;
  --color-base-300: 0 0% 35%;
  --color-base-800: 0 0% 15%;
  --color-base-900: 0 0% 5%;

  --color-primary-100: 281 47% 97%;
  --color-primary-300: 274 24% 89%;
  --color-primary-700: 281 53% 50%;
  --color-primary-800: 281 70% 30%;

  --color-link: 199 82% 28%;

  --box-shadow-small: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.1);

  --fs-small: 1.3rem;
}
