// Variables
$color-body-text: hsl(0, 0%, 15%);
$color-primary-light: hsl(281, 47%, 97%);
$color-primary: hsl(274, 24%, 89%);
$color-primary-dark: hsl(281, 53%, 50%);
$color-link: hsl(199, 82%, 28%);
$color-gray-light: hsl(0, 0%, 98%);
$color-gray-light-2: hsl(0, 0%, 55%);
$color-gray-light-3: hsl(0, 0%, 35%);
$color-gray-dark: hsl(0, 0%, 8%);
